<head>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">	
  <link rel="stylesheet" href="/css/dialog/dialog.css" media="screen" />
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <script src="js/prototype.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/builder.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/effects.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/dragdrop.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">

    <div id="header" class="span-24 last">
      <img src="media\Pi-symbol.svg" style="height: 128px; width: 128px" /><img src="media\q.svg" style="10px" /></h1>
      <div id="subheader" class="span-24 last"><div class="prepend-4"><h3 class="alt"><em>priority-idea-queue</em></h3></div></div>
      <hr />
    </div>
  
    
    <div id="projects" class="span-24">

      <div class="dialog">
       <div class="content">
        <div class="t"></div>
        <h1 align="center">Current</h1>
        <hr />
            <%= 
            Project.current.inject('<ul id="current_project">') do |str,p| 
              str += "<li id=\"#{p.mid}\"><span class=\"ss_sprite ss_award_star_gold_3\"></span><strong>#{p.name}</strong> - <em>#{p.desc}</em> | <a href=\"#{p.url}\">site</a> | \##{p.submitter} (#{p.created_at.asctime}) <form name=\"implement\" action=\"update_current\" method=\"post\" class=\"inline\"><input type=\"submit\" value=\"Implement\" /></form></li>"
            end + '</ul>'
            %>
        <!-- <ul><li><span class="ss_sprite ss_award_star_gold_3"></span><strong>pi-queue</strong> - <em>A priority idea queue</em> | <a href=''>url</a> | #truce_tringsteen (11-10-10)</li></ul>
        --></div></div>

      <!--<div class="dialog">
       <div class="content">
        <div class="t"></div>
        <h1 align="center">Pending</h1>
        <hr />-->
        <%= 
            Project.list_pending.inject('<ul id="pending_project">') do |str,p| 
              str += "<li id=\"#{p.mid}\"><span class=\"ss_sprite ss_clock\"></span><strong>#{p.name}</strong> - <em>#{p.desc}</em> | <a href=\"#{p.url}\">site</a> | \##{p.submitter} (#{p.created_at.asctime})</li>"
            end + '</ul>'
        %>
        <!--<ul><li><span class="ss_sprite ss_clock"></span><strong>pi-queue</strong> - <em>A priority idea queue</em> | <a href=''>url</a> | #truce_tringsteen (11-10-10)</li></ul>
      
      </div></div>-->

       <div class="dialog">
       <div class="content">
        <div class="t"></div>
        <h1 align="center">Implemented</h1>
                <hr />
                        <%= 
            Project.list_implemented.inject('<ul id="implemented_project">') do |str,p| 
              str += "<li id=\"#{p.mid}\"><span class=\"ss_sprite ss_accept\"></span><strong>#{p.name}</strong> - <em>#{p.desc}</em> | <a href=\"#{p.url}\">site</a> | \##{p.submitter} (#{p.created_at.asctime})</li>"
            end + '</ul>'
        %>
        <!--<ul><li><span class="ss_sprite ss_accept"></span><strong>pi-queue</strong> - <em>A priority idea queue</em> | <a href=''>url</a> | #truce_tringsteen (11-10-10)</li></ul>
      --></div></div>

      <div class="dialog">
       <div class="content">
        <div class="t"></div>
        <h1 align="center">Deleted</h1>
                <hr />
                 <%= 
            Project.list_deleted.inject('<ul id="deleted_project">') do |str,p| 
              str += "<li id=\"#{p.mid}\"><span class=\"ss_sprite ss_cross\"></span><strong>#{p.name}</strong> - <em>#{p.desc}</em> | <a href=\"#{p.url}\">site</a> | \##{p.submitter} (#{p.created_at.asctime})</li>"
            end + '</ul>'
        %>
        <!--<ul><li><span class="ss_sprite ss_cross"></span><strong>pi-queue</strong> - <em>A priority idea queue</em> | <a href=''>url</a> | #truce_tringsteen (11-10-10)</li></ul>
      --></div></div>

      <script type="text/javascript" charset="utf-8">
        Sortable.create('pending_projects', {
         containment: ["implemented_projects","deleted_projects","pending_projects"],
         dropOnEmpty: true,
         onUpdate: function() {
            new Ajax.Request("/update_rank", {
                method: "post",
                parameters: { data: Sortable.serialize('pending_projects') }
            });
          }
        }
        );
        Sortable.create("implemented_projects", {
         containment: ["implemented_projects","deleted_projects","pending_projects"],
         dropOnEmpty: true,
         onUpdate: function() {
            new Ajax.Request("/update_implemented", {
                method: "post",
                parameters: { data: Sortable.serialize('implemented_projects') }
            });
          }
        });
        Sortable.create("deleted_projects", {
         containment: ["implemented_projects","deleted_projects","pending_projects"],
          dropOnEmpty: true,
         onUpdate: function() {
            new Ajax.Request("/update_deleted", {
                method: "post",
                parameters: { data: Sortable.serialize('deleted_projects') }
            });
          }
        }
        );
      </script>
     

        <form name="create_new_project" method="post" class="inline">
        <fieldset>
          <legend>Add a New Project</Legend>
          <div class="span-11 colborder">
          <p>
            <label for="post[project_name]">Name:</label><br \>
            <input type="text" name="post[project_name]" id="post[project_name]"\>
          </p>
          
          <p>
            <label for="post[desc]">Short Description:</label><br \>
            <input class="span-11" type="text" name="post[desc]" id="post[desc]"\>
          </p>
          
          <p>
            <label for="post[probs_techs]">Probs & Techs:</label><br \>
            <textarea class="span-11" name="post[probs_techs]" id="post[probs_techs]"></textarea>
          </p>
          <p>
            <input type="submit" value="Submit"></input>
            <input type="reset" value="Cancel"></input>
          </p>
          </div>
          
          <div class="span-11 last">
          <p>
            <label for="post[url]">Link:</label><br \>
            <input class="span-9" type="text" name="post[url]" id="post[url]"\>
          </p>
          
          <p>
            <label for="post[submitter]">Submitter:</label><br \>
            <input type="text" name="post[submitter]" id="post[submitter]"\>
          </p>
          
          <p>
            <label for="post[long_desc]">Description:</label><br \>
            <textarea class="span-11" name="post[long_desc]" id="post[long_desc]"></textarea>
          </p>
          </div>

        </form>
      </fieldset>
      </div>
    </div>
</body>